
html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}
::-o-scrollbar {
    width: 8px;
}
::-moz-scrollbar {
    width: 8px;
}
::-ms-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

::-webkit-scrollbar:hover {
    width: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

#error {
    font-size: 10px;
    text-align: center;
    padding: 4px;
    font-weight: 200;
    display:none;
}

#content::before,
#content {
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#content::before {
    content: '';
    width: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* Loaders */
#loaderBlock {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
    /* background-color: rgba(40, 40, 40, 0.95); */
    opacity: 0.95;
}

.container-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

img.loader {
    height: 14px;
    width: 14px;
}
#loaderBlock span {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.25px;
    font-weight: 500;
    margin-left: 0.5rem;
}
/* #guide, #video {} */

.mybtn {
    display: inline-table;
    margin-right: calc(2vw / 11 - .1rem );
    /* margin-right: 0em; */
    margin-bottom: 0em;
    margin-left: 0em;
    margin-top: 0em;
}

.myblock {
    display: inline-table;
    /* margin-right: calc(8vw / 11 - .1rem); */
    margin-right: 0.6em;
    /* margin-bottom: 0.8em; */
}

.myblockend {
    display: inline-table;
    margin-right: 0em;
    margin-bottom: 0em;
}

.debugtools {
    background-color: #000;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.debugtools li {
    display: inline;
    margin: 3px 0px 3px 0px;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.aboutpanel {
    font-size: 1.4em;
    color: rgba(237, 145, 134, 1);
    position: relative;
    background-color: rgba(170, 45, 29, 1);
    width: 100%;
    height: 18px;
    text-align: center;
    margin: 0;
    padding: 2px 0 0 0;
}

.aboutpanel hover {
    color: rgba(255, 255, 255, 1);
}

h3 {
    padding: 2px 0 0 0;
    margin: 0;
    position: relative;
}

.clear-fix {
    clear: both;
    line-height: 1px;
}

.colnum {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: 3px 0px 3px 0px;
}

button {
    font-size: 2em;
    border: 0px solid;
    /* //border: 1px solid; */
    border-radius: 4px;
    width: 100%;
    vertical-align: middle;
    padding: 6px 5px 2px 5px;
    /* padding-top: 6px;
    padding-bottom: 2px; */
    color: inherit;
    background-color: rgba(255, 255, 255, 0.15);
}

button:hover {
    /* //color:rgb(255, 255, 255); */
    background-color: rgba(255, 255, 255, 0.3);
}

.bred {
    /* //opacity:0.6; */
    background-color: rgba(255, 0, 0, 0.1);
}

.bgreen {
    background-color: rgba(0, 255, 0, 0.1);
}

.bblue {
    background-color: rgba(0, 0, 255, 0.1);
}

.borange {
    background-color: rgba(255, 200, 0, 0.1);
}

.byellow {
    background-color: rgba(255, 255, 0, 0.15);
}

.bmagenta {
    background-color: rgba(255, 0, 255, 0.1);
}

.bbg {
    background-color: rgba(83, 112, 151, 0.5);
}

.bfg {
    background-color: rgba(164, 98, 26, 0.5);
}

.bfx {
    background-color: rgba(169, 136, 32, 0.5);
}

.bline {
    background-color: rgba(129, 129, 129, 0.5);
}

.blinecolor {
    background-color: rgba(129, 129, 129, 0.5);
}

.brainbow- {
    background: -webkit-linear-gradient(225deg, rgba(255, 0, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 0, 255, 0.2));
    background: -o-linear-gradient(225deg, rgba(255, 0, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 0, 255, 0.2));
    background: -moz-linear-gradient(225deg, rgba(255, 0, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 0, 255, 0.2));
    background: linear-gradient(225deg, rgba(255, 0, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 255, 0, 0.2), rgba(0, 0, 255, 0.2));
}

.bbred {
    color: rgba(255, 0, 0, 0.5);
}

.bbblue {
    color: rgba(0, 0, 255, 0.5);
}

.bbgreen {
    color: rgba(0, 255, 0, 0.5);
}

.brf {
    font-size: 1em;
}

.bk {
    /* font-size: 1em; */
}

.bcol {
    position: relative;
    width: 100%;
}

hr {
    height: 1px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.verticalLin {
    width: 10px;
}

/* @media (max-width: 150px) and (min-width: 50px) {
    #content .myblock {
        display: flex;
        justify-content: center;
    }
} */
@media (max-width:300px) {
    #loaderBlock span {
        font-size: 8;
        word-wrap: break-word;
        /* display:none; */
    }
}
@media (max-width: 900px) {
    #content::before {
        height: 0;
    }
    #content {
        height: 100%;
        display: table-cell;
    }
}

/* display: flex;
    justify-content: space-between; */