:root {
    --blue1: #1473e6;
	--blueRGB: 20, 115, 230;
	--blue2: #00c8ff;
	--blue2RGB: 0, 200, 255;
	--blue3: #181827;
	--blue4: #ccf1ff;
	--blue5: #1e76e3;
	--main: #d0d0d0;
	--mainRGB: 208, 208, 208;
	--second: #181827;
	--secondRGB: 24, 24, 39;
	--accent: #00e5e5;
	--accentRGB: 0, 229, 229;
}
::selection {
    background-color: rgb(var(--blue2RGB));
    color: var(--Second);
}

.tooltip .tooltip2 {
    display: inline-block;
    position: relative;
}

.tooltip:hover:after {
    background: #feffcf;
    background: rgba(254, 255, 207, 1);
    border-radius: 0px;
    top: 34px;
    color: #000;
    font-size: 0.5em;
    content: attr(title);
    left: -130%;
    padding: 2px 5px;
    position: absolute;
    z-index: 98;
    width: 125px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.3);
}

.tooltipbegin:hover:after {
    background: #feffcf;
    background: rgba(254, 255, 207, 1);
    border-radius: 0px;
    top: 34px;
    color: #000;
    font-size: 0.5em;
    content: attr(title);
    left: -20%;
    padding: 2px 5px;
    position: absolute;
    z-index: 98;
    width: 125px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.3);
}

.tooltipend:hover:after {
    background: #feffcf;
    background: rgba(254, 255, 207, 1);
    border-radius: 0px;
    top: 34px;
    color: #000;
    font-size: 0.5em;
    content: attr(title);
    right: -20%;
    padding: 2px 5px;
    position: absolute;
    z-index: 98;
    width: 135px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.3);
}